@import 'var';
#me {
    background-color: $firstColor
}
#skills {
    background-color: $secondColor
}
#repository {
    background-color: $thirdColor
}
#contact {
    background-color: $fifthColor
}