
$div-height: 850px;
.effect{
    
    width: 50vw;
    height: 50vh;

}
.app{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
    grid-template-areas: 'me skills' 'repository contact'
}
.contain{
    margin: 2.5rem;
    h1{
        font-size: 3rem;
    }
}
.skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
    margin-top: 2rem;
    padding: 1rem;
    font-size:1.4em; 
    
}
body{
    background-color: #FECEA8;
}
#me{
    grid-area: me;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    img{
        height: 5rem;
        width: 5rem;
    }
    h1{
        font-size: 5em;
        letter-spacing: 0.7rem;
    }
    h3{
        font-size: 2.5em;
    }
}
#skills {
    grid-area:skills;
}
#repository,#contact {
    p{
        margin-top: 2rem;
        font-size: 2rem;
    }
    
    a,a:hover{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: white !important;
    }
    grid-area:repository;
    display: flex;
    flex-direction: column;
}
#contact {
    grid-area:contact;
}


@media only screen and (max-width: 768px){
    .app{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'me' 'skills' 'repository' 'contact';
    }
    .effect{
        width: 100vw;
        height: 100vh;
    }
    .skills-content{
        display: grid;
        justify-content: space-around;
        grid-template-rows: 30vh 30vh 30vh;
        grid-template-columns: 1fr;
        

    }
    #contact,#repository{
        height: 60vh!important;
    }
    #me {
        height: 100vh!important;
    }

    #me{
        
        
        img{
            height: 4rem;
            width: 4rem;
        }
        h1{
            font-size: 3.5em;
            letter-spacing: 0.4rem;
        }
        h3{
            font-size: 1.7em;
        }
    }
}

@media screen and (max-width: 1200px) and (min-width:769px){
    #me{
        img{
            height: 4rem;
            width: 4rem;
        }
        h1{
            font-size: 3em!important;
            letter-spacing: 0.4rem;
        }
        h3{
            font-size: 1.5em!important;
        }
    }
    .skills-content{
        font-size: 1em;
        h2{
            font-size:1.5em;
        }
    }

    
}

@media only screen and (max-width: 576px){
    #me{
        img{
            height: 3.5rem;
            width: 3.5rem;
        }
        h1{
            font-size: 2.4em!important;
            letter-spacing: 0.4rem;
        }
        h3{
            font-size: 1.4em!important;
        }
    }
    .skills-content{
        font-size: 1em;
        h2{
            font-size:1.4em;
        }
        
        
        margin-left: 2.5rem!important;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100vw;
    
        
    }
    #contact,#repository{
        p{
            font-size: 1.0em;
        }
        
    }
    .app{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 50rem auto auto;
        grid-template-areas: 'me' 'skills' 'repository' 'contact';
    }
   
    .contain{
    
        h1{
            font-size: 2.5rem!important;
             
        }
    }
}
