$fa-font-path:"~font-awesome/fonts" ;
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@font-face{
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower.ttf');
}
*{
    font-family: 'Indie Flower', cursive;
    color:black;
}
body{
    margin:0px;
    
}


