$fa-font-path:"~font-awesome/fonts" ;
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@font-face{
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower.ttf');
}
*{
    font-family: 'Indie Flower', cursive;
    color:black;
    box-sizing: border-box;
    
}
body,html{
    margin: 0!important;   
}
@media only screen and (max-width: 768px){
    html,body{
        overflow-x: hidden!important;
        margin:0px;
        padding: 0px;
    }
}

